<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Mongo Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mongo">Home</a></li>
            <li><a href="/create">CreateCollection</a></li>
            <li><a href="/insert">InsertIntoCollection</a></li>
            <li><a href="/read">ReadFromCollection</a></li>
            <li><a href="/update">UpdateCollection</a></li>
            <li><a href="/delete">DeleteCollection</a></li>
        </ul>

    </div>
</nav>
